<form #bookForm="ngForm" *ngIf="beer">
  <table class="table table-striped">
    <tr>
      <td>Nazwa:</td>
      <td>
        <input type="text" name="name" class="form-control" [(ngModel)]="beer.name">
        <div #errorName></div>
      </td>
    </tr>
    <tr>
      <td>Woltejdż</td>
      <td>
        <input type="number" name="voltage" class="form-control" [(ngModel)]="beer.voltage">
        <div #errorVoltage></div>
      </td>
    </tr>
    <tr>
      <td>IBU</td>
      <td>
        <input type="number" name="ibu" class="form-control" [(ngModel)]="beer.IBU">
        <div #errorIbu></div>
      </td>
    </tr>
  </table>
  <div #infoLabel >{{DATA_OK}}</div>
  <button type="button" class="btn btn-primary" (click)="save()">Zapisz</button>
  <button type="button" class="btn btn-default" routerLink="/beers">Powrót</button>
</form>
